@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pricedown';
  src: url('./Pricedown Bl.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  @apply bg-black text-white font-sans;
}
body {
  font-family: 'Pricedown', sans-serif;
}
body {
  font-family: 'Pricedown', sans-serif;
  letter-spacing: 1px;
}

